.details-container {
  padding: 2rem;
  background: #fff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details-left {
  flex: 1;
  text-align: left;
  padding-right: 2rem;
  max-width: 50%;
}

.details-avatar {
  width: 100px;
  height: 375px;
  object-fit: cover;
  filter: grayscale(100%);
}

.details-info {
  list-style: none;
  padding: 0;
  max-width: 100%;
  margin: 1rem 0;
  color: #333;
}

.details-info li {
  margin: 8px 0;
  font-size: 1rem;
}

.description-text{
      color: #333;
      font-size: 30px;
}

.summary {
  font-size: 1.1rem;
  color: #555;
  margin: 1rem 0;
}

button {
  margin-bottom: 1rem;
  background: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #555;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.details-right {
  flex: 1;
  max-width: 50%;
}

.details-right img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  filter: grayscale(100%);
}